.container-3d {
  display: flex;
  justify-content: center;
  margin: 6% 1% 4% 1%;
}

.imge {
  width: 35%;
  margin: 0 3em;
}

.pres {
  width: 40%;
}

.txt-3d {
  display: inline-block;
  font-size: 2rem;
}
.ph {
  font-size: 1.5rem;
}
.p {
  font-weight: bold;
  color: rgb(228, 229, 222) 255, 240;
}

@media screen and (max-width: 820px) {
  .imge {
    margin: 0.5em;
    width: 50%;
  }

  .pres {
    padding: 0.5em;
  }
  .txt-3d {
    font-size: 0.8em;
  }
  .ph {
    font-size: 0.6em;
  }
}
