* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;

  margin: 0 auto;
}

.dark {
  background-color: rgb(18, 16, 16);
  color: rgb(159, 159, 159);
}

.clear {
  background-color: rgb(220, 220, 191);
  color: black;
}

section {
  width: 100vw;
}

.tit {
  margin: 4em;
}

.material {
  margin-bottom: 4em;
}
